@use '@/app/styles/utils/variables' as *;
@use '@/app/styles/utils/media' as *;
@use '@/app/styles/utils/fonts' as *;

.title {
  font-family: $font;

  &_variant {
    &-36 {
      font-size: 36px;
      line-height: 120%;

      @include media-laptop {
        font-size: 26px;
      }

      @include media-tablet {
        font-size: 22px;
      }
    }

    &-30 {
      font-size: 30px;
      line-height: 130%;

      @include media-laptop {
        font-size: 24px;
      }

      @include media-tablet {
        font-size: 20px;
      }
    }

    &-28 {
      font-size: 28px;
      line-height: 120%;

      @include media-laptop {
        font-size: 22px;
      }

      @include media-tablet {
        font-size: 18px;
      }
    }

    &-24 {
      font-size: 24px;
      line-height: 140%;

      @include media-laptop {
        font-size: 18px;
      }
    }

    &-20 {
      font-size: 20px;
      line-height: 140%;

      @include media-laptop {
        font-size: 18px;
      }
    }
  }

  &_weight {
    &-400 {
      font-weight: 400;
    }

    &-600 {
      font-weight: 600;
    }

    &-700 {
      font-weight: 700;
    }

    &-300 {
      font-weight: 300;
    }
  }
}
